In [16]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from keras.optimizers import SGD, adam
from keras.layers.normalization import BatchNormalization
from keras.utils import to_categorical
# read in data
data_train = pd.read_csv('train.csv')
data_val = pd.read_csv('test.csv')

names_train = data_train['Name']
names_val = data_val['Name']
# drop columns that do not correlate with survival / have significant gaps
data_train = data_train.drop(['Cabin', 'Name', 'PassengerId', 'Fare', 'Embarked'], axis=1)
data_val = data_val.drop(['Cabin', 'Name', 'PassengerId', 'Fare', 'Embarked'], axis=1)
data = [data_train, data_val]
classes = ['Deceased', 'Survived']

In [17]:
data

[     Survived  Pclass     Sex   Age  SibSp  Parch            Ticket
 0           0       3    male  22.0      1      0         A/5 21171
 1           1       1  female  38.0      1      0          PC 17599
 2           1       3  female  26.0      0      0  STON/O2. 3101282
 3           1       1  female  35.0      1      0            113803
 4           0       3    male  35.0      0      0            373450
 5           0       3    male   NaN      0      0            330877
 6           0       1    male  54.0      0      0             17463
 7           0       3    male   2.0      3      1            349909
 8           1       3  female  27.0      0      2            347742
 9           1       2  female  14.0      1      0            237736
 10          1       3  female   4.0      1      1           PP 9549
 11          1       1  female  58.0      0      0            113783
 12          0       3    male  20.0      0      0         A/5. 2151
 13          0       3    male  39.0      1      5            347082
 14          0       3  female  14.0      0      0            350406
 15          1       2  female  55.0      0      0            248706
 16          0       3    male   2.0      4      1            382652
 17          1       2    male   NaN      0      0            244373
 18          0       3  female  31.0      1      0            345763
 19          1       3  female   NaN      0      0              2649
 20          0       2    male  35.0      0      0            239865
 21          1       2    male  34.0      0      0            248698
 22          1       3  female  15.0      0      0            330923
 23          1       1    male  28.0      0      0            113788
 24          0       3  female   8.0      3      1            349909
 25          1       3  female  38.0      1      5            347077
 26          0       3    male   NaN      0      0              2631
 27          0       1    male  19.0      3      2             19950
 28          1       3  female   NaN      0      0            330959
 29          0       3    male   NaN      0      0            349216
 ..        ...     ...     ...   ...    ...    ...               ...
 861         0       2    male  21.0      1      0             28134
 862         1       1  female  48.0      0      0             17466
 863         0       3  female   NaN      8      2          CA. 2343
 864         0       2    male  24.0      0      0            233866
 865         1       2  female  42.0      0      0            236852
 866         1       2  female  27.0      1      0     SC/PARIS 2149
 867         0       1    male  31.0      0      0          PC 17590
 868         0       3    male   NaN      0      0            345777
 869         1       3    male   4.0      1      1            347742
 870         0       3    male  26.0      0      0            349248
 871         1       1  female  47.0      1      1             11751
 872         0       1    male  33.0      0      0               695
 873         0       3    male  47.0      0      0            345765
 874         1       2  female  28.0      1      0         P/PP 3381
 875         1       3  female  15.0      0      0              2667
 876         0       3    male  20.0      0      0              7534
 877         0       3    male  19.0      0      0            349212
 878         0       3    male   NaN      0      0            349217
 879         1       1  female  56.0      0      1             11767
 880         1       2  female  25.0      0      1            230433
 881         0       3    male  33.0      0      0            349257
 882         0       3  female  22.0      0      0              7552
 883         0       2    male  28.0      0      0  C.A./SOTON 34068
 884         0       3    male  25.0      0      0   SOTON/OQ 392076
 885         0       3  female  39.0      0      5            382652
 886         0       2    male  27.0      0      0            211536
 887         1       1  female  19.0      0      0            112053
 888         0       3  female   NaN      1      2        W./C. 6607
 889         1       1    male  26.0      0      0            111369
 890         0       3    male  32.0      0      0            370376

 [891 rows x 7 columns],
      Pclass     Sex   Age  SibSp  Parch              Ticket
 0         3    male  34.5      0      0              330911
 1         3  female  47.0      1      0              363272
 2         2    male  62.0      0      0              240276
 3         3    male  27.0      0      0              315154
 4         3  female  22.0      1      1             3101298
 5         3    male  14.0      0      0                7538
 6         3  female  30.0      0      0              330972
 7         2    male  26.0      1      1              248738
 8         3  female  18.0      0      0                2657
 9         3    male  21.0      2      0           A/4 48871
 10        3    male   NaN      0      0              349220
 11        1    male  46.0      0      0                 694
 12        1  female  23.0      1      0               21228
 13        2    male  63.0      1      0               24065
 14        1  female  47.0      1      0         W.E.P. 5734
 15        2  female  24.0      1      0       SC/PARIS 2167
 16        2    male  35.0      0      0              233734
 17        3    male  21.0      0      0                2692
 18        3  female  27.0      1      0    STON/O2. 3101270
 19        3  female  45.0      0      0                2696
 20        1    male  55.0      1      0            PC 17603
 21        3    male   9.0      0      1             C 17368
 22        1  female   NaN      0      0            PC 17598
 23        1    male  21.0      0      1            PC 17597
 24        1  female  48.0      1      3            PC 17608
 25        3    male  50.0      1      0           A/5. 3337
 26        1  female  22.0      0      1              113509
 27        3    male  22.5      0      0                2698
 28        1    male  41.0      0      0              113054
 29        3    male   NaN      2      0                2662
 ..      ...     ...   ...    ...    ...                 ...
 388       3    male  21.0      0      0              364858
 389       3    male   6.0      3      1              349909
 390       1    male  23.0      0      0               12749
 391       1  female  51.0      0      1            PC 17592
 392       3    male  13.0      0      2           C.A. 2673
 393       2    male  47.0      0      0          C.A. 30769
 394       3    male  29.0      3      1              315153
 395       1  female  18.0      1      0               13695
 396       3    male  24.0      0      0              371109
 397       1  female  48.0      1      1               13567
 398       3    male  22.0      0      0              347065
 399       3    male  31.0      0      0               21332
 400       1  female  30.0      0      0               36928
 401       2    male  38.0      1      0               28664
 402       1  female  22.0      0      1              112378
 403       1    male  17.0      0      0              113059
 404       1    male  43.0      1      0               17765
 405       2    male  20.0      0      0       SC/PARIS 2166
 406       2    male  23.0      1      0               28666
 407       1    male  50.0      1      1              113503
 408       3  female   NaN      0      0              334915
 409       3  female   3.0      1      1  SOTON/O.Q. 3101315
 410       3  female   NaN      0      0              365237
 411       1  female  37.0      1      0               19928
 412       3  female  28.0      0      0              347086
 413       3    male   NaN      0      0           A.5. 3236
 414       1  female  39.0      0      0            PC 17758
 415       3    male  38.5      0      0  SOTON/O.Q. 3101262
 416       3    male   NaN      0      0              359309
 417       3    male   NaN      1      1                2668

 [418 rows x 6 columns]]

In [18]:
def vec_to_description(person):
	description = ""
	alone = None
	ticket = None
	if person[0] == 1:
		sex = "Male"
	else:
		sex = "Female"
	if person[1] == 1:
		alone = "with large family"
	if person[2] == 1:
		alone = "alone"
	if person[3] == 1:
		age = "Child"
	if person[4] == 1:
		age = "Young adult"
	if person[5] == 1:
		age =  "Adult"
	if person[6] == 1:
		age = "Elderly"
	if person[7] == 1:
		ticket = "travelling in first class"
	if person[8] == 1:
		ticket = "travelling in second class"
	if person[9] == 1:
		ticket = "travelling in third class"

	if(ticket is None):
		ticket = "travelling in UNKNOWN"
	if(alone is None):
		alone = "with companion / or family with 4 members or less"
	description = ("{0}, {1}, {2} {3}").format(age, sex, ticket, alone)

	return description

In [19]:
for d in data:
	'''
	Preprocessing
	1. Map columns containing strings to binary numerical values
	   1 = male, 0 = female
	2. Identify and flag large families, families with 5 or more
	   members had significantly lower survival rates
	3. Identify and flag solo travellers, they had lower survival rates
	4. If age is not known for a person then populate with median
	5. Create age groups for child, young adult, adult and old
	6. Group by ticket class
	'''
	# Create new columns for relevant groups
	d['largeFam'] = 0
	d['Alone'] = 0
	d['Child'] = 0
	d['YoungA'] = 0
	d['Adult'] = 0
	d['Old'] = 0
	d['First_class'] = 0
	d['Second_class'] = 0
	d['Third_class'] =0

	# 1. Convert sex to  binary numerical values
	d['Sex'] = d['Sex'].map({ 'male': 1, 'female': 0}).astype(int)

	# 2. Identify + flag large groups/families
	d.loc[d['SibSp'] + d['Parch'] + 1 > 4, 'largeFam'] = 1
	
	# 3. Identify + flag solo travellers
	d.loc[d['SibSp'] + d['Parch'] + 1 == 1, 'Alone'] =1

	# 4. Set blank ages to median age
	d.loc[d.Age.isnull(), 'Age'] = d.Age.median()
	
	# 5. Group passengers by age
	d.loc[d['Age'] <= 16, 'Child'] = 1
	d.loc[(d['Age'] > 16) & (d['Age'] <= 30), 'YoungA'] = 1
	d.loc[(d['Age'] > 30) & (d['Age'] <= 60), 'Adult'] = 1
	d.loc[d['Age'] > 60, 'Old'] = 1

	#6. Group passengers by ticket class
	d.loc[d['Pclass'] == 1, 'First_class'] = 1
	d.loc[d['Pclass'] == 2, 'Second_class'] = 1
	d.loc[d['Pclass'] == 3, 'Third_class'] = 1

In [20]:
# Drop columns we don't need any more from training/validation set
# We've moved these into groups above
data_train = data_train.drop(['Ticket', 'Parch', 'SibSp', 'Age', 'Pclass'], axis=1)
data_val = data_val.drop(['Ticket', 'Parch', 'SibSp', 'Age', 'Pclass'], axis=1)

# Set target column to predict (Survived)
targets = np.array(to_categorical(data_train['Survived'], 2))

# Set features we are trying to correlate to target
features = np.array(data_train.drop('Survived', axis=1))
features_val = np.array(data_val)

In [22]:
# Set neural net architecture
# 2 simple fully connected layers with relu activation
# output layer will have 2 nodes (len classes) with softmax activation
# to provide probability score
model = Sequential()
model.add(Dense(512))
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Dropout(.2))
model.add(Dense(256))
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Dropout(.2))
model.add(Dense(len(classes), activation='softmax'))
model.compile(loss = 'categorical_crossentropy', optimizer='SGD', metrics=['accuracy'])


model.fit(features, targets, epochs=100, batch_size=32, verbose=1)
p = model.predict(features_val)
for i, x in enumerate(p):
	n = names_val[i]
	d = features_val[i]
	d = vec_to_description(d)
	mortality = classes[np.argmax(x)]
	if (mortality == 'Deceased'):
		prob = x[0]
	else:
		prob = x[1]
	
	print("\n\n\n\n{0}\n________________________________________\nDescription: {1}".format(n, d)) 
	print("Prediction: {0} ({1:.1%} probability)".format(mortality, prob))

score = model.evaluate(features, targets)
print ("\nEstimated accuracy: {:.0%}".format(score[1]))ets, epochs=200, batch_size=100, verbose=0)

SyntaxError: invalid syntax (<ipython-input-22-00eb9dba7bb9>, line 18)